body {
    margin:0px;
}

.content {
    display: flex;
    width: 100%;
}

.right {
    background: url(../images/background.jpg);
    background-position: center center;
    height: 100vh;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    height: 100vh;
    background: #e2e8f0;;
    width: 50%;
    display: flex;
    justify-items: center;
}

.left-content{
    background: whitesmoke;
    height: 80%;
    width: 80%;
    margin: auto;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
}

.temp {
    display: flex;
    justify-content: center;
}

.temp-number {
    font-size: 80px;
    color: white;
    font-weight: bolder;
}

h3{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 38px;
}

.info {
    width: 50%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    padding: 5px;
    font-size: 25px;
    margin: auto;
}

h4{
    text-align: center;
    margin: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 55px;
    background: #0a0f23;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    margin: 30px auto;
}

.city-label {
    font-weight: bolder;
    font-size: 25px;
}

#city {
    width: 300px;
    margin: 15px 0px;
    font-size: 25px;
}

#search-btn {
    color: white;
    background-color: #0a0f23;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

#city-form {
    width: 300px;
    margin: auto;
}

.temp-buttons {
    display:flex;
    justify-content: center;
}

.alert {
    color: red;
    font-size: 30px;
}

.display-none {
    display: none;
}

.icon {
    width: 91px;
}
